<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        {{{block "meta"}}}
        <title>{{block "title"}}</title>
        {{{block "css"}}}
    </head>
    <body>
        {{{block "body"}}}
        {{{block "js"}}}
        {{#if env_dev}}
            <script src="http://localhost:62627/livereload.js?snipver=1"></script>
        {{/if}}
    </body>
</html>
